@charset "utf-8";

/* リセット */

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  border: none;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

/* 基本レイアウト */

/* これを入れるとメニューでの移動がスムーズになる */
html {
  scroll-behavior: smooth;
	scrollbar-color: #418b89 #a3d6cc;
    scrollbar-width: auto;
}

.kiwi-maru-regular {
  font-family: "Kiwi Maru", sans-serif;
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: "Kiwi Maru", sans-serif;
  font-size: 18px;
  color: #3c2810;
  background-size: auto auto;
  background-color : #e0fffa;
  background-image :
      repeating-linear-gradient(45deg,
                                rgba(153, 255, 238, 0.50),
                                rgba(153, 255, 238, 0.50) 50px,
                                rgba(0, 0, 0, 0) 0,
                                rgba(0, 0, 0, 0) 100px),
      repeating-linear-gradient(315deg,
                                rgba(153, 255, 238, 0.50),
                                rgba(153, 255, 238, 0.50) 50px,
                                rgba(0, 0, 0, 0) 0,
                                rgba(0, 0, 0, 0) 100px);
  word-wrap: break-word;
	background-attachment: fixed;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.8em;
  margin-bottom: 15px;
  margin-top: 10px;
}

h2 {
  text-shadow: 0 0 5px white;
  padding: 0.2em;
  background: -webkit-repeating-linear-gradient(-45deg, #fff, #fff 10px, #f8e8af 10px, #f8e8af 20px);
  background: repeating-linear-gradient(-45deg, #fff, #fff 10px, #f8e8af 10px, #f8e8af 20px);
  border: solid 2px #fff;
}

h3 {
  border-bottom: double 5px;
}

h3:before {
  content: '●';
  margin: 5px;
}

h4 {
  border-bottom: dashed 2px;
  margin: 0 5px 10px;
}

a {
  color: #b83d14;
}

a:hover {
  color: #f49048;
}

strong {
  font-weight: normal;
  border-bottom: dotted;
}

hr {
  height: 3px;
  background-color: #3c2810;
  border: none;
  margin: 5px 0 10px;
}

button,
select,
input,
textarea {
  font-family: "Kiwi Maru", sans-serif;
}

.photoimg img {
  background-color: #ffffff;
  padding: 5px;
  border-radius: 30px;
  object-fit: cover;
  margin: 0px
}

/* トップ */

.top {
    position: relative;
    padding: 1rem;
    outline: 2px dashed #89613e;
    outline-offset: -8px;
    border-radius: 10px;
    background-color: #fff;
    color: #3c2810;
}

.top:before {
    position: absolute;
    top: 100%;
    left: 40%;
    height: 0;
    width: 0;
    border-style: solid;
    border-color: transparent;
    border-top-color: #fff;
    border-width: 16px;
    content: "";
}

/* ヘッダー */

header {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

.lever {
  position: absolute;
  width: 60px;
  height: 70px;
  background-image: url(../image/items/toast_lever.png);
  background-size: 100%;
  bottom: 0px;
  right: -40px;
  z-index: 98;
}

.site-menu {
  position: relative;
  width: 900px;
  height: 100px;
  background-image: url(../image/items/toast_body.png);
  background-size: 100%;
  z-index: 100;
}

.site-menu ul {
	text-align: center;
}

.site-menu ul li {
  display: inline;
}

.site-menu a {
  color: #FBE8BA;
  font-size: 40px;
}

.site-menu a:hover {
  color: #FFBC5C;
}

/* タイトルエリア */

.title-area {
  position: relative;
  height: 90vh;
}

.title-area img {
  position: absolute;
  width: 800px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 記事エリア */

.main-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toast-area {
  width: 700px;
  background-image: url(../image/items/toast_main.png);
  background-size: 100%;
}

.toast-text {
  margin: 20px 40px 0 40px;
  background-color: #f8e8af;
  border-radius: 15px;
  padding: 10px;
}

.toast-text p {
  margin: 5px 5px 15px 5px;
}

.toast-header {
  background-image: url(../image/items/toast_header.png);
  background-size: cover;
  width: 700px;
  height: 49px;
  background-position: bottom;
  margin-top: 10px;
}

.toast-footer {
  background-image: url(../image/items/toast_footer.png);
  background-size: cover;
  width: 700px;
  height: 40px;
  margin-bottom: 80px;
}

/* イラストギャラリー */

.illust-gallery {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
	gap: 5px;
}

.illust-gallery li {
  position: relative;
}

.illust-gallery li img {
  background-color: #ffffff;
  padding: 5px;
  border-radius: 15px;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin: 10px;
}

/* オーディオ  */

.audio_player {
  margin: 0;
  padding: 0 0 10px;
  display: flex;
}

.playbutton {
  width: 50px;
  height: 50px;
  text-align: center;
  background-color: #fff;
  color: #3c2810;
  border-radius: 8px;
  margin: 0 8px 0;
  line-height: 50px;
  font-size: 40px;
  border: none;
  cursor: pointer;
}

.playbutton:hover,{
  background-color: #fad470;
}

.longbutton {
  width: 100%;
  height: 30px;
  text-align: center;
  background-color: #fff;
  color: #3c2810;
  border-radius: 5px;
  margin: 5px 0 5px;
  padding: 5px;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

.longbutton:hover {
  background-color: #fad470;
}

/* メッセージ */

.input-message {
  -webkit-appearance: none;
  width: calc(100% - 20px);
  height: 150px;
  color: #3c2810;
  background-color: #fff;
  border: none;
  font-size: 18px;
  line-height: 2;
  border-radius: 5px;
  margin: 5px 10px 0;
  padding: 5px;
}

.input-text:focus,
.input-message:focus {
  outline: 1px solid #f49048;
}

.submit-button {
  -webkit-appearance: none;
  color: #3c2810;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.submit-button:hover {
  background-color: #fad470;
}

/* プロフィール */

.box {
  background-color: #fff;
  border-radius: 20px;
  padding: 25px 15px 15px 15px;
  margin: 0 5px 25px;
  position: relative;
}

.box-title {
  display: inline;
  border-radius: 10px;
  background-color: #e2843c;
  color: #fff;
  padding: 3px;
  position: absolute;
  top: -15px;
  left: 10px;
}


/* フッター */

.copyright {
  text-align: center;
  font-size: 16px;
}

.copyright a {
  color: #4fadd4;
}

.copyright a:hover {
  color: #a9f4e5;
}

/* このダミーエリアがあると最後のトーストもおしりまでスクロールできます */

.dummy-area {
  height: 180px;
}

/* 試す用のスペース↓ */

.box p {
	position: absolute;
	display: inline;
	right: 10px;
}

.box img {
	width: 200px;
	background-color: #ffffff;
  	padding: 5px;
  	border-radius: 15px;
	margin: 10px;
}
	
/* 試す用のスペース↑ */

/* スマホ対応 */

@media (max-width: 950px) {

	header {
  	width: 100%;
}

  .lever {
	right: 0px;
    left: 90%;
	background-size: 100% 100%;
  }

  .site-menu {
	background-size: 100% 100%;
    width: 95%;
  }
	
	.main-contents {
		margin-right: 4%;
}

  .toast-area,
  .toast-header,
  .toast-footer {
    width: 85%;
    background-size: 100%;
  }

  .toast-header,
  .toast-footer {
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .title-area img {
    width: 90%;
  }

.box p {
	position: static;
}

}

@media (max-width: 500px) {

  .toast-text {
    margin: 10px 20px 0 20px;
    font-size: 16px;
  }

}
